---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% for post in site.talks reversed %}      
   {% if post.dateLite %}
        {% include archive-single-talk.html %}    
  {% endif %}
{% endfor %}

{% for post in site.talks reversed %}      
   {% capture dlSize %} {{ post.dateLite.size }} {% endcapture %}
   Lite Date Size: {{ dlSize }}
   {% if dlSize == false %}
      {% include archive-single-talk.html %}    
  {% endif %}
{% endfor %}
